###############################################################################
# Dependencies
###############################################################################

node_modules/

###############################################################################
# Build output
###############################################################################

dist/
coverage/

###############################################################################
# Logs
###############################################################################

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

###############################################################################
# IDE
###############################################################################

.vscode/
.idea/

###############################################################################
# Operating system
###############################################################################

.DS_Store
Thumbs.db

###############################################################################
# Temporary files
###############################################################################

*.tmp
*.temp

###############################################################################
# Environment
###############################################################################

.env
.env.*

###############################################################################
# TypeScript
###############################################################################

*.tsbuildinfo
